* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin-block: 3rem;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px rgb(175, 179, 175);
    border-radius: 10px;
    margin-inline: 2rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 350px;
    height: 150px;
}

h2,
p {
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    border: solid 1px #fb6d48;
    border-radius: 5px;
    background-color: #fb6d48;
    color: white;
}

button:hover {
    cursor: pointer;
}
