* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin-block: 3rem;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px rgb(175, 179, 175);
    border-radius: 10px;
    margin-inline: 2rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 350px;
    height: 150px;
}

h2,
p {
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    border: solid 1px #fb6d48;
    border-radius: 5px;
    background-color: #fb6d48;
    color: white;
}

button:hover {
    cursor: pointer;
}

.btnAgregar {
    margin-top: 10px;
}

.subtitulo {
    text-align: center;
    margin-block: 2rem;
    display: none;
}

ul {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 98%;
}

li {
    margin-inline: 16px;
    border: solid 1px rgb(175, 179, 175);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 98%;
}

p {
    margin: 0;
}

.carrito {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nombreFruta {
    margin: 0;
}

.info {
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.btnes {
    display: flex;
    gap: 5px;
}

.nombreFruta {
    font-size: 22px;
}

.totalCarrito {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 768px) {
    ul {
        width: 95%;
    }

    li {
        padding: 5px;
        margin-inline: 10px;
        width: 100%;
    }

    .nombreFruta {
        font-size: 12px;
    }

    .info {
        font-size: 12px;
        margin-right: 5px;
        text-align: center;
    }

    .btnes {
        font-size: 10px;
        padding: 5px;
    }

    .conjunto {
        padding: 5px;
    }
}
